[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git

[submodule "external/glew-cmake"]
	path = external/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "bullet3"]
	path = bullet3
	url = https://github.com/bulletphysics/bullet3.git
