[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git

[submodule "external/glew-cmake"]
	path = external/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "external/SDL2-unofficial"]
	path = external/SDL2-unofficial
	url = https://github.com/CGTGPY3G1/SDL2-unofficial
[submodule "bullet3"]
	path = bullet3
	url = https://github.com/CGTGPY3G1/bullet3.git
[submodule "external/bullet3"]
	path = external/bullet3
	url = https://github.com/CGTGPY3G1/bullet3.git
